.center-div {
    width : fit-content;
    margin : auto;
    margin-top: 2%;
    padding: 4%;
    background-color: rgba(171, 141, 71, 0.703);
    border-radius: 3%;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.539);
    font-weight: bold;
}

body {
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,251,90,1) 0%, rgba(0,254,255,1) 100%); */
    background-image: url("./tree.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    object-fit: cover;
}